extends ../layout
block content
  header.navbar.navbar-green.navbar-fixed-top.bs-docs-nav(role='banner')
    .navbar-header.pull-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h3.marginLeft.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.fontSizeNav.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | المستخدمين 
            b.caret
          ul.dropdown-menu
            li
              a(href='/edituser/#{user}') بيانات المستخدم
            li
              a(href='/logout') خروج
        li
          a(href='/reports') التقارير
        li
          a(href='/admin/obs') المراقبين
        li
          a(href='/admin/org') الـمنظمات

  .col-md-8.col-md-offset-2
    .form-group
      input#discount_flag(type='checkbox', name='discount_flag')
    table#guest.table.table-bordered.table-striped(style='clear: both')
      tbody
        tr
          td(width='35%') اسم الضيف 
          td(width='65%')
            a#name_org(href='#', data-type='text', data-pk='#{guest[0].id_org}', data-title='الاسم' ,data-value='#{guest[0].name_org}') #{guest[0].name_org}

  .col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
    .panel.panel-warning
      .panel-heading
        h3.panel-title
          span.glyphicon.glyphicon-bookmark
          | 
      .panel-body
        table#table

  #deleteObsOnGuest.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(data-id_o='#{guest[0].id_org}',type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
          
  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src="/js/bootstrap-editable.min.js")
  script(src='/js/bootstrap-table.min.js')
  script(src="/js/jquery.validate.min.js")
  script(src='/js/bootstrap-switch.min.js')
  script(src="/js/admin/editGuest.js")
  script(src='/js/admin/backToTop.js')  