extends ../layout
block content
  header.navbar.navbar-orange.navbar-fixed-top.bs-docs-nav(role='banner')
    .navbar-header.pull-left
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      h3.marginLeft.text-muted.text-left 
        a(href="/")
          img(src="/images/hnec_logo.png")
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      ul.fontSizeNav.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | المستخدمين 
            b.caret
          ul.dropdown-menu
            li
              a(href='#') Action
            li
              a(href='#') بيانات المستخدم
            li
              a(href='#') خروج
        li
          a(href='#') التقارير
        li
          a(href='/admin/obs') المراقبين
        li
          a(href='/admin/org') الـمنظمات

  .row
    .col-md-8.col-md-offset-2
      .form-group
        input#discount_flag(type='checkbox', name='discount_flag')
      table#media.table.table-bordered.table-striped(style='clear: both')
        tbody
          tr
            td(width='35%') رقم التسجيل 
            td(width='65%')
              a#registration_no(href='#', data-type='text', data-pk='#{media[0].id_org}', data-title='الاسم' ,data-value='#{media[0].registration_no}') #{media[0].registration_no}
          tr
            td(width='35%') الاسم 
            td(width='65%')
              a#name_org(href='#', data-type='text', data-pk='#{media[0].id_org}', data-title='الاسم', data-value='#{media[0].name_org}') #{media[0].name_org}
          tr
            td(width='35%') اسم المدير
            td(width='65%')
              a#name_director(href='#', data-type='text', data-pk='#{media[0].id_org}', data-title='اسم المدير' ,data-value='#{media[0].name_director}') #{media[0].name_director}
          tr
            td(width='35%') رقم الهاتف
            td(width='65%')
              a#phone(href='#', data-type='text', data-pk='#{media[0].id_org}', data-title='رقم الهاتف' ,data-value='#{media[0].phone}') #{media[0].phone}
          tr
            td(width='35%') البريد الاكتروني
            td(width='65%')
              a#email(href='#', data-type='text', data-pk='#{media[0].id_org}', data-title='البريد الاكتروني', data-value='#{media[0].email}') #{media[0].email}
          tr
            td(width='35%') العنوان
            td(width='65%')
              a#address(href='#', data-type='text', data-pk='#{media[0].id_org}', data-title='العنوان', data-value='#{media[0].address}') #{media[0].address}
  .row
    .col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
      .panel.panel-warning
        .panel-heading
          h3.panel-title
            span.glyphicon.glyphicon-bookmark
            | 
        .panel-body
          table#table

  #deleteObsOnMedia.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(data-id_o='#{media[0].id_org}',type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 

  script(src='/js/jquery-1.11.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-table.min.js')
  script(src="/js/bootstrap-editable.min.js")
  script(src="/js/jquery.validate.min.js")
  script(src='/js/bootstrap-switch.min.js')
  script(src="/js/admin/editMedia.js")
  script(src='/js/admin/backToTop.js')
  